*.class
*~
src/parser/parser.java
src/parser/sym.java
src/scanner/Scanner.java
*.aux

docs\+notes/ProcessJ-TypeSystem\.log

*#

docs\+notes/ProcessJ-TypeSystem\.synctex\.gz

#Ignore All binary files. ez
bin/
Demo\.jar

.DS_Store

processjrc

ben1\.jar

test55\.jar

test44\.jar

test\.jar

test2\.jar

proto\.jar
